h1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 5%;
}
.row{
    display: flex;
}
.row .col-4{
    width: 33.32%;
    margin: 0 1%;
    border: 2px solid #000519;
    position: relative;
    background-color: #999999;
}
.row .col-4 .mini-box{
    position: absolute;
    right: 0;
    border: 2px solid #000519;
    border-right: none;
    border-top: none;
    padding: 1% 0;
   width: 120px;
   text-align: center;
   font-weight: 700;
   font-size: 18px;
}
.row .col-4:nth-child(1) .mini-box{
   background-color: #D59898;
}
.row .col-4:nth-child(2) .mini-box{
    color: white;
    background-color: #C14543;
 }
 .row .col-4:nth-child(3) .mini-box{
    background-color:#E5D198;
 }
.row .col-4 p{
    color: #000519;
    font-weight: 700;
    padding: 4% 4% 0 4%;
}